@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  width: 100%;
  justify-content: center;
  padding: 1rem 0;
  grid-template-columns: 25.5rem;
  grid-template-rows: max-content 30rem repeat(2, max-content);
  grid-row-gap: 1rem;
  justify-items: center;
}
